{% extends "network/layout.html" %}
{% block body %}


    <h2 class="mx-3">{{ profile.username }}</h2>

    <br>
    <div class="d-flex justify-content-around ">
        <h4>Following: {{ following.count }}</h4>
        <h4>Followers:  {{ followers.count }}</h4>
    </div>
    <br>

    {% for post in page_obj %}
        <div class="mx-3 my-3 d-flex flex-column post">
            <a href="{% url 'profile' post.poster %}"><h4>{{ post.poster }}</h4></a>
            <p>{{ post.text }}</p>
            <small>{{ post.created }}</small>
            {% if post.poster == user %}
            <div class="flex-row">
                <button>Edit</button>
                <button>Delete Post</button>
            </div>
            {% endif %}
        </div>

    {% endfor %}


    <div class="pagination d-flex justify-content-center my-2">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </span>
    </div>


{% endblock %}