div.post{
    border-style: solid;
    border-color: gray;
    border-radius: 3px;
    padding: 1rem;
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes hide {
  0% {
      opacity: 1;
      height: 100%;
      line-height: 100%;
      padding: 1rem;
  }
  75% {
      opacity: 0;
      height: 100%;
      line-height: 100%;
      padding: 1rem;
  }
  100% {
      opacity: 0;
      height: 0px;
      line-height: 0px;
      padding: 0px;
      margin-bottom: 0px;
  }
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  #heart {
    color: grey;  
    font-size: 50px;
  }
  
  #heart.red {
    color: red;
  }