div.post{
    border-style: solid;
    border-color: gray;
    border-radius: 3px;
    padding: 1rem;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

.btn-love{
margin:20% auto;
cursor:pointer;
background:transparent;
border:none;
font-size:50px;
outline:none;
color:#c0c1c3;
position:relative;
.fa {
    position:relative;
    z-index:1;
}

    transform-origin: 50% 50% 0px;
}